body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #fffde6;
}

@font-face {
  font-family: Cooper_Black;
  src: url('./assets/fonts/Cooper_Black.ttf');
}
